<style>
    .stage {
        position: fixed;
        top: 20px;
        right: 20px;
        bottom: 10px;
        width: 400px;
        border-radius: 20px;
        box-shadow: 0 0 2px rgb(0 0 0 / 20%);
        overflow: hidden;
    }

    .stage .nav {
        border-radius: 20px 20px 0 0;
        width: 100%;
        line-height: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .stage .components {
        overflow-y: auto;
    }

    @media(max-width: 500px) {
        .stage {
            right: 0;
            width: 100%;
        }
    }
</style>
<div class="stage">
    <div class="nav">Components</div>
    <div class="components">
        <iframe src="/component/m" width="100%" height="760px" frameborder="0"></iframe>
    </div>
</div>