<style>
    .container {
        padding: 8px 6px;
        background-color: rgb(0, 0, 0, 5%);
    }

    .container .component {
        background-color: #fff;
        border-radius: 8px;
        padding: 6px;
    }

    .customer {
        display: flex;
        justify-content: space-between;
        height: 70px;
        padding: 8px;
    }

    .customer .thumbnail {
        width: 70px;
    }

    .customer .thumbnail span {
        display: block;
        background-color: #ccc;
        border-radius: 8px;
        width: 50px;
        height: 50px;
    }

    .customer .item {
        width: 80%;
        padding-left: 8px;
    }

    .customer .item .message {
        color: rgb(0, 0, 0, 0.3);
        font-size: 0.875rem;
    }

    .customer .date {
        width: 130px;
        color: rgb(0, 0, 0, 0.3);
        font-size: 0.875rem;
        text-align: right;
    }

    .demo {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .demo .demo-header {
        line-height: 70px;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    .demo .demo-body {
        height: 100%;
    }

    .p-popover ul {
        list-style: none;
        margin: 0;
        padding: 0.25rem;
    }

    .p-popover ul li {
        line-height: 2rem;
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .al {
        display: flex;
    }
</style>

<div class="p-navbar" style="position: fixed; z-index: 10;top:0">
    <a href="javascript:void(0)" id="menu">
        <i class="bi bi-list" style="font-size: 1.5rem;"></i>
    </a>
    <span class="title">消息</span>
    <a href="/" p-router>
        <i class="bi bi-search"></i>
    </a>
</div>

<!-- <div class="p-sidebar" id="sidebar">
    <div class="header" style="border-bottom: 1px solid rgb(0, 0, 0, 0.05);">
        <span>PracJS</span>
        <a href="javascript:void(0)" class="close">
            <i class="bi bi-x-lg"></i
        ></a>
    </div>
    <div class="body">
        <ul class="menu">
            <li>
                <span></span>
                <a href="javascript:void(0)">账号与安全</a>
            </li>
            <li class="selected">
                <span></span>
                <a href="javascript:void(0)">隐私</a>
            </li>
            <li>
                <span></span>
                <a href="javascript:void(0)">优惠券</a>
            </li>
            <li>
                <span></span>
                <a href="javascript:void(0)">设置</a>
            </li>
        </ul>
    </div>
    <div class="footer">
        @Power by INuggets
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="p-dropdown" p-dropdown>
    <div class="dropdown">
        <div class="select">
            <span>下拉选择</span>
            <i class="bi bi-caret-down-fill"></i>
        </div>
        <ul class="options">
            <li class="option" value="1">
                <span>选项一</span>
            </li>
            <li class="option" value="2">
                <span>选项二</span>
            </li>
            <li class="option" value="3">
                <span>选项三</span>
            </li>
        </ul>
    </div>

    <div class="dropdown">
        <div class="select">
            <span>下拉选择</span>
            <i class="bi bi-caret-down-fill"></i>
        </div>
        <ul class="options">
            <li class="option" value="1">
                <span>选项一</span>
            </li>
            <li class="option" value="2">
                <span>选项二</span>
            </li>
            <li class="option" value="3">
                <span>选项三</span>
            </li>
        </ul>
    </div>

    <div class="dropdown">
        <div class="select">
            <span>下拉选择</span>
            <i class="bi bi-caret-down-fill"></i>
        </div>
        <ul class="options">
            <li class="option" value="1">
                <span>选项一</span>
            </li>
            <li class="option" value="2">
                <span>选项二</span>
            </li>
            <li class="option" value="3">
                <span>选项三</span>
            </li>
        </ul>
    </div>

    <div class="dropdown">
        <div class="select">
            <span>下拉选择</span>
            <i class="bi bi-caret-down-fill"></i>
        </div>
        <ul class="options">
            <li class="option" value="1">
                <span>选项一</span>
            </li>
            <li class="option" value="2">
                <span>选项二</span>
            </li>
            <li class="option" value="3">
                <span>选项三</span>
            </li>
        </ul>
    </div>
</div>

<div class="p-dropdown" p-dropdown>
    <div class="dropdown">
        <div class="select">
            <span>下拉选择</span>
            <i class="bi bi-caret-down-fill"></i>
        </div>
        <ul class="options">
            <li class="option" value="1">
                <span>选项一</span>
            </li>
            <li class="option" value="2">
                <span>选项二</span>
            </li>
            <li class="option" value="3">
                <span>选项三</span>
            </li>
        </ul>
    </div>
</div> -->


<!-- <div class="p-top-menu" id="top-menu">
    <ul class="menu">
        <li>
            <a href="javascript:void(0)" class="item">
                <i class="bi bi-chevron-right"></i>
                <span>开发指南</span>
            </a>
            <ul>
                <li>
                    <a href="javascript:void(0)" class="item selected">
                        <i class="bi bi-dash"></i>
                        <span>介绍</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="item">
                        <i class="bi bi-dash"></i>
                        <span>快速开始</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)" class="item">
                <i class="bi bi-chevron-right"></i>
                <span>表单</span>
            </a>
            <ul>
                <li>
                    <a href="javascript:void(0)" class="item">
                        <i class="bi bi-dash"></i>
                        <span>Form</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="item">
                        <i class="bi bi-dash"></i>
                        <span>Slider</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="item">
                        <i class="bi bi-chevron-right"></i>
                        <span>Picker</span>
                    </a>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" class="item">
                                <i class="bi bi-dash"></i>
                                <span>基础用法</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="item">
                                <i class="bi bi-dash"></i>
                                <span>多级联动</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)" class="item">
                        <i class="bi bi-dash"></i>
                        <span>进度条</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div> -->

<!-- <div class="p-slides" style="height: 200px;" id="slides">
    <div class="wrapper">
        <div style="background-color:rosybrown;"></div>
        <div style="background-color:royalblue"></div>
        <div style="background-color:seagreen"></div>
        <div style="background-color:tomato"></div>
    </div>
</div> -->

<!-- <input type="file" id="file" /> -->

<!-- <div style="margin: 2rem;">
    <div id="slider"></div>
</div> -->


<!-- <div class="p-file-upload" style="margin: 0.5rem;" id="uploader">
</div> -->

<!-- <div class="p-file-upload" style="margin: 0.5rem;">
    <div class="file">
        <i class="bi bi-cloud-upload-fill"></i>
        <input type="file" />
    </div>
    <div class="file">
        <div class="uploaded">
            <i class="bi bi-file-earmark-pdf"></i>
            <span>pdf_file_name.pdf</span>
        </div>
        <div class="remove">
            <i class="bi bi-x-circle-fill"></i>
        </div>
    </div>
    <div class="file">
        <i class="bi bi-cloud-upload-fill"></i>
        <div class="uploading">
            <div class="spinner-border text-light"></div>
            <span>90%</span>
        </div>
    </div>
    <div class="file">
        <i class="bi bi-cloud-upload-fill"></i>
        <div class="failed">
            <i class="bi bi-x-circle"></i>
            <span>失败</span>
        </div>
        <div class="remove">
            <i class="bi bi-x-circle-fill"></i>
        </div>
    </div>
    <div class="file">
        <div class="uploaded image">
            <img src="/res/images/1.jpeg" />
        </div>
        <div class="remove">
            <i class="bi bi-x-circle-fill"></i>
        </div>
    </div>
    <div class="p-preview">
        <div class="indicator">1 / 1</div>
        <div class="p-slides" id="slides" style="height: 100%;">
            <div class="wrapper">
                <div>
                    <img src="/res/images/1.jpeg" width="100%" />
                </div>
                <div>
                    <img src="/res/images/2.jpeg" height="690px" />
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div style="background-color: rgb(0, 0, 0, 0.1);">
    <div class="p-img-list" style="max-height: 500px;overflow-y: auto;overflow-x: hidden;" id="lazyload">
    <div class="p-img-list" id="lazyload">
        <div class="row" style="padding: 1rem 2rem;">
            <div class="col col-12">
                <img data-src="/res/images/1.jpeg" />
            </div>
            <div class="col col-12">
                <img data-src="/res/images/2.jpeg" />
            </div>
            <div class="col col-12">
                <img data-src="/res/images/3.jpeg" />
            </div>
            <div class="col col-12">
                <img data-src="/res/images/4.jpeg" />
            </div>
            <div class="col col-12">
                <img data-src="/res/images/5.jpeg" />
            </div>
            <div class="col col-12">
                <img data-src="/res/images/6.jpeg" />
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="p-toaster">
    <span class="text">这里是一个通知</span>
</div>

<div class="p-navbar" style="position: fixed; z-index: 10;top:0">
    <a href="javascript:void(0)">
        <i class="bi bi-chevron-left"></i>
        <span>返回</span>
    </a>
    <span class="title">消息</span>
    <a href="javascript:void(0)">
        <i class="bi bi-search"></i>
    </a>
</div>
<div class="p-tabbar" id="tabbar" style="padding-top: 3rem;">
    <div class="contents">
        <div class="selected">
            <div style="height: 1000px;">消息</div>
        </div>
        <div>
            <br/>
            <br/>
            <div class="p-collapse" id="collapse">
                <div class="item">
                    <div class="title">
                        <span>标题1</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                    <div class="content">
                        从历史上来讲，琴的种类和规格很多，从结构、形态上看，大致可分为四类，即全音阶手风琴，半音阶手风琴，键钮式手风琴和键盘式手风琴。全音阶手风琴结构非常简单，相当于口琴增加了风箱
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>标题2</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                    <div class="content">
                        特点: 声音宏大，音色变化丰富
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>标题3</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                    <div class="content">
                        1777年，中国器乐“笙”由意大利传教士阿莫依特神父传入欧洲，随即便在欧洲开始出现了一些手风琴的前身乐器，但它们大都未能成形便被淘汰了。真正用手拉的风琴是由德国人德里克·布斯曼
                    </div>
                </div>
            </div>
            <br/>
            <div id="rate">
            </div>
        </div>
        <div>设置</div>
        <div>个人信息</div>
    </div>
    <ul class="nav">
        <li class="selected">
            <i class="bi bi-chat"></i>
            <span>消息</span>
            <div class="badge">
                <span class="info">9</span>
            </div>
        </li>
        <li>
            <i class="bi bi-journal"></i>
            <span>通信录</span>
            <div class="badge">
                <i class="bi bi-dash"></i>
            </div>
        </li>
        <li>
            <i class="bi bi-gear"></i>
            <span>设置</span>
        </li>
        <li>
            <i class="bi bi-person"></i>
            <span>个人信息</span>
        </li>
    </ul>
</div> -->

<!-- <div class="p-tab" id="tab">
    <ul class="nav">
        <li class="selected"><span>全部</span></li>
        <li><span>可用优惠券</span></li>
        <li><span>过期的</span></li>
    </ul>
    <div class="contents">
        <div class="selected">
            <div style="height: 1000px;">test</div>
        </div>
        <div>可用内容</div>
        <div>过期内容</div>
    </div>
</div> -->

<!-- <div class="p-index-nav">
    <div style="text-align: center;line-height: 50px;background-color: #fff;">内嵌信息</div>
    <div class="anchor" p-anchor="A">A</div>
    <ul class="list">
        <li class="item">安庆</li>
        <li class="item">安阳</li>
        <li class="item">鞍山</li>
        <li class="item">安昌</li>
    </ul>
    <div class="anchor-fixed">A</div>
    <div class="anchor" p-anchor="B">B</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="C">C</div>
    <ul class="list">
        <li class="item">安庆</li>
        <li class="item">安阳</li>
        <li class="item">鞍山</li>
        <li class="item">安昌</li>
    </ul>
    <div class="anchor" p-anchor="D">D</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="E">E</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="F">F</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="G">G</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="H">H</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="I">I</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="J">J</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="K">K</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="L">L</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="M">M</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="N">N</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="O">O</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="P">P</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="Q">Q</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="R">R</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="S">S</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="T">T</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="U">U</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="V">V</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="W">W</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="X">X</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="Y">Y</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
    <div class="anchor" p-anchor="Z">Z</div>
    <ul class="list">
        <li class="item">白山</li>
        <li class="item">百色</li>
        <li class="item">白城</li>
    </ul>
</div> -->



<!-- <div style="background-color: rgb(0, 0, 0, 5%);height: 500px;overflow: hidden;">
    <br/>
    <div class="p-swipe-cell" id="swipe-cell">
        <div class="wrapper">
            <div class="left">
                <button type="button" class="btn btn-primary">收藏</button>
            </div>
            <div class="content">
                <div class="customer">
                    <div class="thumbnail">
                        <span></span>
                    </div>
                    <div class="item">
                        <div class="name">群聊1314</div>
                        <div class="message">这里是发送的消息</div>
                    </div>
                    <div class="date">2021/11/7</div>
                </div>
            </div>
            <div class="right">
                <button type="button" class="btn btn-danger" id="delete">删除</button>
                <button type="button" class="btn btn-secondary">取消关注</button>
            </div>
        </div>
    </div>
    
</div> -->
<!-- 
<div class="p-navbar" style="position: fixed; z-index: 10;top:0">
    <a href="javascript:void(0)">
        <i class="bi bi-chevron-left"></i>
        <span>返回</span>
    </a>
    <span class="title">消息</span>
    <a href="javascript:void(0)">
        <i class="bi bi-search"></i>
    </a>
</div>
<div style="margin-top: 3rem;">
    <div class="p-pull-refresh">
        <div class="pullable">
            <div class="refresh">
                <div class="spinner text-danger"></div>
            </div>
            <div class="content" style="background-color: rgb(0, 0, 0, 0.04);">
                <div class="p-list" id="list">
                <div class="p-list" id="list" style="max-height: 500px;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<div style="margin-top: 3rem;">
    <div>
        <span class="p-text-ellipsis-ml">By default, the white-space: nowrap and overflow: hidden are absolutely necessary as the first one is responsible to hold all the text in one line and the second one hides what overflows. </span>
        <a href="javascript:void(0)">展开</a>
    </div>

    <div el>
        By default, the white-space: nowrap and overflow: hidden are absolutely necessary as the first one is responsible to hold all the text in one line and the second one hides what overflows. Now if you want to have the ellipsis after two or three lines then you have to use either use display: -webkit-box layout mode or display: -moz-box mode and this approach is shown in the second example. 
    </div>

    <br />

    <div style="padding: 1rem;">
        <button class="btn btn-primary" type="button" pop2 title="hidden are absolutely necessary as the first one" style="float: left;">Button</button>
        <br/>
        <br/>
        <div class="al">
            <button class="btn btn-primary" type="button" pop11 title="hidden are absolutely necessary as the first one">Button</button>
            <button class="btn btn-primary" type="button" pop12 title="hidden are absolutely necessary as the first one">Button</button>
            <button class="btn btn-primary" type="button" pop13 title="hidden are absolutely necessary as the first one">Button</button>
            <button class="btn btn-primary" type="button" pop14 title="hidden are absolutely necessary as the first one">Button</button>
            <button class="btn btn-primary" type="button" pop1>Button</button>
            <div class="p-popover">
                <div class="p-content">
                    <ul>
                        <li>Option 1</li>
                        <li>Option 2</li>
                        <li>Option 3</li>
                    </ul>
                    <i class="bi p-arrow"></i>
                </div>
            </div>
        </div>
        
    </div>

    <div class="p-steps">
        <div class="steps">
            <div class="step">
                <span>步骤一<i class="bi bi-check2"></i></span>
                <i class="bi bi-chevron-right"></i>
            </div>
            <div class="step">
                <span>步骤二<i class="bi bi-check2"></i></span>
                <i class="bi bi-chevron-right"></i>
            </div>
            <div class="step current">
                <span>步骤三<i class="bi bi-check2"></i></span>
                <i class="bi bi-chevron-right"></i>
            </div>
            <div class="step">
                <span>步骤四<i class="bi bi-check2"></i></span>
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
    </div>

    <div class="p-form">
        <div class="p-card">
            <div class="p-cell">
                <div class="control">
                    <label>Progress</label>
                    <div>
                        <div id="progress"></div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <label></label>
                    <div>
                        <button class="btn btn-primary" type="button" increase>增加</button>
                        <button class="btn btn-primary" type="button" decrease>减少</button>
                    </div>
                </div>
            </div>

            <div class="p-cell">
                <div class="control">
                    <label>Username</label>
                    <div>
                        <div class="input">
                            <div class="content">
                                <input type="text" name="username" placeholder="please input username" validation="username" autocomplete="off" />
                                <i class="bi bi-exclamation-circle invalid"></i>
                                <i class="bi bi-check-lg text-success valid"></i>
                            </div>
                        </div>
                        <div class="msg invalid">Please input your username</div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <label>Password</label>
                    <div>
                        <div class="input">
                            <div class="content">
                                <input type="text" name="password" placeholder="please input password" required autocomplete="off" />
                                <i class="bi bi-exclamation-circle invalid"></i>
                                <i class="bi bi-check-lg text-success valid"></i>
                            </div>
                        </div>
                        <div class="msg invalid">Please input your password</div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <label>Mobile</label>
                    <div>
                        <div class="input">
                            <div class="content">
                                <input type="number" placeholder="please input phone no" pattern="^[0-9]+$" />
                                <i class="bi bi-exclamation-circle invalid"></i>
                                <i class="bi bi-check-lg text-success valid"></i>
                            </div>
                        </div>
                        <div class="msg invalid">Please provide a valid phone no</div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <div>
                        <div class="input">
                            <div class="content">
                                <input type="number" placeholder="input the verification code" name="vcode" validation="vcode" />
                                <i class="bi bi-exclamation-circle invalid"></i>
                                <i class="bi bi-check-lg text-success valid"></i>
                            </div>
                            <a href="javascript:void(0)" style="width: 120px;">Send</a>
                        </div>
                        <div class="msg invalid">Please provide a valid valid v-code</div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <label>Date</label>
                    <div>
                        <div class="input">
                            <div class="content">
                                <input type="text" name="date1" placeholder="click to select a date" readonly required />
                                <i class="bi bi-exclamation-circle invalid"></i>
                                <i class="bi bi-check-lg text-success valid"></i>
                            </div>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                        <div class="msg invalid">Please select a date</div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <label>City</label>
                    <div>
                        <div class="input">
                            <div class="content">
                                <input type="text" name="city" placeholder="click to select city" readonly required />
                                <i class="bi bi-exclamation-circle invalid"></i>
                                <i class="bi bi-check-lg text-success valid"></i>
                            </div>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                        <div class="msg invalid">Please select a city</div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <label>Multi Select</label>
                    <div>
                        <div class="input">
                            <div class="content">
                                <input type="text" name="multi" placeholder="click to select multiple values" readonly required />
                                <i class="bi bi-exclamation-circle invalid"></i>
                                <i class="bi bi-check-lg text-success valid"></i>
                            </div>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                        <div class="msg invalid">Please select a city</div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <label>Slider</label>
                    <div>
                        <div id="slider"></div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <label>Stepper</label>
                    <div style="width: 9rem;">
                        <input type="text" class="form-control" id="stepper" />
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <label>Checkbox</label>
                    <div>
                        <div class="check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check1" value="1" id="c1" required>
                                <label class="form-check-label" for="c1">One</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check1" value="2" id="c2" required>
                                <label class="form-check-label" for="c2">Two</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check1" value="3" id="c3" required>
                                <label class="form-check-label" for="c3">Three</label>
                            </div>
                        </div>
                        <div class="msg invalid">Please check</div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <label>Radio</label>
                    <div>
                        <div class="check">
                            <div class="form-check">
                                <input class="form-check-input" name="gender" type="radio" value="1" id="r1" checked>
                                <label class="form-check-label" for="r1">Male</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="gender" type="radio" value="2" id="r2">
                                <label class="form-check-label" for="r2">Female</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <label>Rate</label>
                    <div>
                        <div id="rate"></div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <label>Upload</label>
                    <div>
                        <div id="uploader"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-card">
            <div class="p-cell">
                <div class="control space-between">
                    <label style="width: 80%;">Setting above address as the shipping address?</label>
                    <div>
                        <div class="form-switch auto-width">
                            <input class="form-check-input" type="checkbox" value="1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-card">
            <div class="p-cell-group">
                <div class="p-cell" id="to-share">
                    <div class="content">
                        <div>
                            <span>Share</span>
                        </div>
                        <div>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="action row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" p-submit style="width: 100%;" id="submit">Sumbit</button>
            </div>
            <div class="col-12 mt-1">
                <button type="button" class="btn btn-light" style="width: 100%;">Cancel</button>
            </div>
        </div>
    </div>

    <!-- <div class="p-form" p-form-validate>
        <div class="p-card">
            <div class="p-cell">
                <div class="control">
                    <div class="input">
                        <label>用户名</label>
                        <div>
                            <input type="text" placeholder="请输入用户名" required />
                            <div class="msg invalid">请输入用户名</div>
                        </div>
                        <i class="bi bi-exclamation-circle invalid"></i>
                        <i class="bi bi-check-lg text-success valid"></i>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control is-valid">
                    <div class="input">
                        <label>密码</label>
                        <div>
                            <input type="password" placeholder="请输入密码" required autocomplete="off" />
                            <div class="msg invalid">请输入密码</div>
                        </div>
                        <i class="bi bi-exclamation-circle invalid"></i>
                        <i class="bi bi-check-lg text-success valid"></i>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control is-invalid">
                    <div class="input">
                        <label>电话号码</label>
                        <div>
                            <input type="number" placeholder="请输入电话号码" pattern="^[0-9]+$" />
                            <div class="msg invalid">请输入正确的电话号码</div>
                        </div>
                        <i class="bi bi-exclamation-circle invalid"></i>
                        <i class="bi bi-check-lg text-success valid"></i>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control is-invalid">
                    <div class="input" style="width: 70%;">
                        <label>验证码</label>
                        <div>
                            <input type="number" placeholder="请输入验证码" pattern="^[0-9]+$" p-integer />
                            <div class="msg invalid">请输入正确的验证码</div>
                        </div>
                        <i class="bi bi-exclamation-circle invalid"></i>
                        <i class="bi bi-check-lg text-success valid"></i>
                    </div>
                    <a href="javascript:void(0)">获取验证码</a>
                </div>
            </div>
            <div class="p-cell">
                <div class="control is-valid">
                    <div class="input">
                        <label>城市</label>
                        <div>
                            <input type="text" name="city" placeholder="点击选择城市" readonly required />
                            <div class="msg invalid">请选择城市</div>
                        </div>
                        <i class="bi bi-exclamation-circle invalid"></i>
                        <i class="bi bi-check-lg text-success valid"></i>
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
            <div class="p-cell">
                <div class="control is-invalid">
                    <div class="input">
                        <label>日历</label>
                        <div>
                            <input type="text" name="date1" placeholder="点击选择日期" readonly required />
                            <div class="msg invalid">请选择日期</div>
                        </div>
                        <i class="bi bi-exclamation-circle invalid"></i>
                        <i class="bi bi-check-lg text-success valid"></i>
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <div class="tool space-between">
                        <label style="width: 70%;">设置为默认收货地址</label>
                        <div class="form-switch auto-width">
                            <input class="form-check-input" type="checkbox" value="1" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <div class="tool">
                        <label>滑块</label>
                        <div id="slider"></div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <div class="tool">
                        <label>Stepper</label>
                        <div class="flex">
                            <input type="text" class="form-control" id="stepper" style="width: 4rem;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <div class="tool">
                        <label>多选</label>
                        <div class="flex">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="c1">
                                <label class="form-check-label" for="c1">选择一</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2" id="c2">
                                <label class="form-check-label" for="c2">选择二</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <div class="tool">
                        <label>单选</label>
                        <div class="flex">
                            <div class="form-check">
                                <input class="form-check-input" name="gender" type="radio" value="1" id="r1">
                                <label class="form-check-label" for="r1">男</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="gender" type="radio" value="2" id="r2">
                                <label class="form-check-label" for="r2">女</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <div class="tool">
                        <label>评分</label>
                        <div class="flex">
                            <div id="rate"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="control">
                    <div class="tool">
                        <label>上传文件</label>
                        <div class="flex">
                            <div class="p-file-upload" id="uploader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-card">
            <div class="p-cell">
                <div class="control">
                    <div class="tool space-between">
                        <label style="width: 70%;">设置为默认收货地址</label>
                        <div class="form-switch auto-width">
                            <input class="form-check-input" type="checkbox" value="1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-card">
            <div class="p-cell-group">
                <div class="p-cell" id="to-share">
                    <div class="content">
                        <div>
                            <span>分享</span>
                        </div>
                        <div>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="action row">
            <div class="col-12">
                <div id="page" style="width: 100%;"></div>
            </div>
        </div>
        <div class="action row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" p-submit style="width: 100%;" id="submit">提交</button>
            </div>
            <div class="col-12 mt-1">
                <button type="button" class="btn btn-light" style="width: 100%;"">取消</button>
            </div>
        </div>
    </div> -->

    <!-- <br />
    <div class="p-cell">
        <div class="content">
            <div>
                <i class="bi bi-gear-fill"></i>
                <span>标题</span>
            </div>
            <div>
                <span>内容</span>
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
        <div class="description">这里是描述信息....</div>
    </div>
    <br />
    <div class="p-cell-title">分组标题</div>
    <div class="p-cell-group">
        <div class="p-cell">
            <div class="content">
                <div>
                    <span>标题1</span>
                </div>
                <div>
                    <span>内容1</span>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="p-cell">
            <div class="content">
                <div>
                    <span>标题2</span>
                </div>
                <div>
                    <span>内容2</span>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="p-card">
        <div class="p-cell-group">
            <div class="p-cell">
                <div class="content">
                    <div>
                        <span>标题1</span>
                    </div>
                    <div>
                        <span>内容1</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="content">
                    <div>
                        <span>标题2</span>
                    </div>
                    <div>
                        <span>内容2</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="p-cell">
                <div class="content">
                    <div>
                        <span>标题3</span>
                    </div>
                    <div>
                        <span>内容3</span>
                        <i class="bi bi-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /> -->
</div>

<div class="container" style="display: none;">
    <div class="component mt-2" style="padding: 0;" id="calender1">
    </div>
    <div class="component mt-2" id="datepicker"></div>
    <div class="component mt-2" id="timepicker"></div>
    <!-- <div class="component mt-2" id="picker1">
    </div>
    <div class="component mt-2" id="picker2">
    </div>
    <div class="component mt-2" id="picker3">
    </div>
    <div class="component mt-2">
        <div class="mb-3 row">
            <label for="inputPassword" class="col-2 col-form-label">City</label>
            <div class="col">
                <input type="text" class="form-control" id="city">
            </div>
        </div>
    </div> -->
</div>
<div class="offcanvas offcanvas-bottom" id="cityBottom" style="height: 400px;">
    <div class="offcanvas-body" style="padding: 10px;" id="city">
    </div>
</div>
<div class="offcanvas offcanvas-bottom" id="calendarBottom" style="height: 80%;">
    <div class="offcanvas-body" style="padding: 0" id="calendar">
    </div>
</div>
<div class="offcanvas offcanvas-bottom" id="shareBottom" style="height: 228px;">
    <div class="offcanvas-body" style="padding: 0">
        <div class="p-share" id="share">
            <div class="body">
                <div class="header">立即分享给好友</div>
                <div class="list">
                    <div class="item">
                        <div class="icon" style="background-color: rgba(0, 0, 0, 0.1);"></div>
                        <span>微信</span>
                    </div>
                    <div class="item">
                        <div class="icon" style="background-color: rgba(0, 0, 0, 0.1);"></div>
                        <span>微博</span>
                    </div>
                    <div class="item">
                        <div class="icon" style="background-color: rgba(0, 0, 0, 0.1);"></div>
                        <span>复制链接</span>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <i class="bi bi-qr-code"></i>
                        </div>
                        <span>二维码</span>
                    </div>
                    <div class="item">
                        <div class="icon" style="background-color: rgba(0, 0, 0, 0.1);"></div>
                        <span>其他</span>
                    </div>
                </div>
            </div>
            <div class="footer" p-cancel-share>取消</div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-bottom" id="multiBottom" style="height: 320px;">
    <div class="offcanvas-body" style="padding: 10px;" id="multi">
    </div>
</div>