html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: #f8f9fa;
}

.content {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

input:-webkit-autofill {
    -webkit-background-clip: text;
}

.p-card {
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
}

.p-cell-title {
    color: #adb5bd;
    margin: 0 0 0.625rem 1rem;
}

.p-cell {
    background-color: #fff;
    padding: 0.625rem 0.875rem;
    position: relative;
    cursor: pointer;
}

.p-cell i.bi-chevron-right {
    color: rgb(33, 37, 41, 0.5);
}

.p-cell>div.content {
    display: flex;
}

.p-cell>div.content>div {
    flex: 1;
    line-height: 2rem;
    height: 2rem;
    color: #495057;
}

.p-cell>div.content>div:first-child {
    text-align: left;
}

.p-cell>div.content>div:last-child {
    text-align: right;
}

.p-cell>div.description {
    margin-top: 0.5rem;
    color: rgb(0, 0, 0, 0.4);
    font-size: 0.875rem;
}

.p-cell-group .p-cell:not(:last-child):after, .p-form .p-cell:not(:last-child):after {
    position: absolute;
    content: " ";
    right: 1.2rem;
    left: 1.2rem;
    bottom: 0;
    border-bottom: 1px solid #e9ecef;
}

.p-cell div.control {
    display: flex;
}

.p-cell div.control div.input input, .p-cell div.control div.input textarea {
    width: calc(100% - 1.5rem);
}

.p-cell div.control div.input textarea {
    resize: none;
    border: 1px solid #e9ecef;
    border-radius: 0.25rem;
}

.p-cell div.control div.input textarea:focus {
    outline: 0;
}

.p-cell div.control div.input input[type='text'],
.p-cell div.control div.input input[type='password'],
.p-cell div.control div.input input[type='number'] {
    padding: 0;
    outline-color: rgba(0, 0, 0, 0);
    border: none;
}

.p-cell div.control input::-webkit-outer-spin-button,
.p-cell div.control input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.p-cell div.control input[type='number'] {
    -moz-appearance: textfield;
}

.p-cell div.control input[type='text']:read-only {
    cursor: pointer;
}

.p-cell div.control input::placeholder, .p-cell div.control textarea::placeholder {
    color: rgb(0, 0, 0, 0.2);
}

.p-cell div.control a {
    text-decoration: none;
    width: auto;
    text-align: right;
}

.p-cell div.control a.disabled {
    cursor: not-allowed;
    color: rgb(0, 0, 0, 0.4);
}

.p-cell div.control>label {
    width: 5.5rem;
    line-height: 2rem;
    color: #495057;
}

.p-cell div.control>div {
    width: 100%;
}

.p-cell div.control>label~div {
    width: calc(100% - 5.5rem);
}

.p-cell div.control>div div.input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.p-cell div.control>div div.input>* {
    line-height: 2rem;
}

.p-cell div.control>div div.input div.content {
    display: flex;
    width: calc(100% - 16px);
}

.p-cell div.control>div div.input div.content.filled {
    width: 100%;
}

.p-cell div.control>div div.input div.content>input {
    line-height: 2rem;
}

.p-cell div.control>div div.input div.content>i {
    line-height: 2rem;
    margin-left: 4px;
}

.p-cell>div.control>div .msg {
    display: none;
    font-size: 0.875rem;
}

.p-cell>div.control>div .valid {
    display: none;
    color: #198754;
}

.p-cell>div.control>div .invalid {
    display: none;
    color: #dc3545;
}

.p-cell>div.control>div div.check {
    display: flex;
    margin-top: 0.3125rem;
}

.p-cell>div.control>div div.check>* {
    margin-right: 1rem;
}

.p-cell div.control.space-between {
    justify-content: space-between;
}

.p-cell div.control.space-between>* {
    width: auto;
}

.p-cell div.control>div div.input .multiline {
    width: calc(100% - 1.5rem);
    overflow-wrap: break-word;
}

.p-cell div.control>div div.input .multiline:empty:not(:focus):before{
    color: rgb(0, 0, 0, 0.2);
    content:attr(placeholder)
}

.p-form.validated .p-cell>div.control.is-invalid .invalid {
    display: block;
}

.p-form.validated .p-cell>div.control.is-valid .valid {
    display: block;
}

.p-form .action {
    padding: 0.5rem 1rem;
}

.p-form .form-switch {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-form .form-switch input[type='checkbox'] {
    width: 3rem;
    height: 1.75rem;
    display: flex;
    justify-content: right;
}

.p-form .loading {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: -0.125em;
    border: 0.15em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
    margin-top: 0.5rem;
    color: rgb(0, 0, 0, 0.7);
}

.p-card>* {
    background-color: #fff;
    border-radius: 0.5rem;
}

.p-card .p-cell-group .p-cell, .p-card .p-form .p-cell {
    border-radius: 0.5rem;
}

.p-picker {
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.p-picker>.toolbar {
    display: flex;
    justify-content: space-between;
}

.p-picker>.toolbar * {
    display: inline-block;
    line-height: 2rem;
    height: 2rem;
}

.p-picker>.toolbar a {
    text-decoration: none;
}

.p-picker>.toolbar .title {
    text-align: center;
}

.p-picker .wrapper {
    position: relative;
    overflow: hidden;
    cursor: grab;
}

.p-picker .wrapper .items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.p-picker .wrapper .items li {
    height: 2.75rem;
    line-height: 2.75rem;
    text-align: center;
    user-select: none;
}

.p-picker .wrapper .selected-frame {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    height: 2.75rem;
    padding: 0 4px;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;
}

.p-picker .wrapper .selected-frame div {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    height: 100%;
    width: 100%;
}

.p-picker .wrapper .mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.4)), linear-gradient(0deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.4));
    background-repeat: no-repeat;
    background-position: top, bottom;
    pointer-events: none;
}

.p-pickers {
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.p-pickers>.toolbar {
    display: flex;
    justify-content: space-between;
}

.p-pickers>.toolbar * {
    display: inline-block;
    line-height: 2rem;
    height: 2rem;
}

.p-pickers>.toolbar a {
    text-decoration: none;
}

.p-pickers>.toolbar .title {
    text-align: center;
}

.p-pickers .columns {
    display: flex;
}

.p-pickers .columns .column {
    flex: 1;
}

.offcanvas-bottom {
    border-top: none;
    border-radius: 16px 16px 0 0;
}

.p-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-loading .spinner-border {
    margin: auto 0;
}

.p-loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.3);
}

.p-page-loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-calendar {
    width: 100%;
}

.p-calendar .header {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.p-calendar .title {
    width: 100%;
    text-align: center;
    line-height: 2.5rem;
    height: 2.5rem;
}

.p-calendar .current-month {
    width: 100%;
    font-size: 0.875rem;
    text-align: center;
    line-height: 2rem;
    height: 2rem;
}

.p-calendar .days {
    padding: 0.5rem 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.p-calendar .days li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-calendar .body {
    position: relative;
    width: 100%;
    height: 21rem;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    cursor: grab;
    padding: 10px 0;
}

.p-calendar .body::-webkit-scrollbar {
    display: none;
}

.p-calendar .body ul {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.p-calendar .body ul li {
    z-index: 1;
    width: 14.285%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    background-color: none;
}

.p-calendar .body ul li.disabled {
    color: rgb(0, 0, 0, 0.2);
}

.p-calendar .body ul li.selected {
    border-radius: 0.25rem;
    color: #fff;
}

.p-calendar .body ul li.selected.begin {
    border-radius: 0.25rem 0 0 0.25rem;
}

.p-calendar .body ul li.selected.end {
    border-radius: 0 0.25rem 0.25rem 0;
}

.p-calendar .body ul li.selected.right {
    border-radius: 0 0.25rem 0.25rem 0;
}

.p-calendar .body ul li.selected.left {
    border-radius: 0.25rem 0 0 0.25rem;
}

.p-calendar .body ul li.selected.left.right {
    border-radius: 0;
}

.p-calendar .body ul .bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: rgb(0, 0, 0, 0.06);
}

.p-calendar .next-month {
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    font-size: 0.875rem;
}

.p-calendar .footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.p-calendar .footer .btn {
    width: 90%;
}

.p-pull-refresh .pullable {
    height: 100%;
    z-index: 1;
    position: relative;
}

.p-pull-refresh .pullable .refresh {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -4rem;
}

.p-pull-refresh .pullable .refresh .spinner {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: -0.125em;
    border: 0.15em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
}

.p-pull-refresh .pullable .content {
    background-color: #fff;
}

.p-swipe-cell {
    position: relative;
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
}

.p-swipe-cell .wrapper {
    transform: translateX(0);
}

.p-swipe-cell .left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
}

.p-swipe-cell button {
    border-radius: 0;
    height: 100%;
    border: none;
}

.p-swipe-cell button:focus {
    outline: none;
    box-shadow: none !important;
}

.p-swipe-cell .content {
    width: 100%;
}

.p-swipe-cell .right {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
}

.p-overlay {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-overlay .p-dialog {
    width: 90%;
    background-color: #fff;
    border-radius: 1rem;
}

.p-overlay .p-dialog .title {
    margin-top: 1.875rem;
    padding: 0 0.5rem;
    text-align: center;
}

.p-overlay .p-dialog .message {
    margin: 0.5rem 0 2rem 0;
    padding: 0 1rem;
    text-align: center;
    color: rgb(0, 0, 0, 0.5);
    font-size: 0.875rem;
    min-height: 2.75rem;
}

.p-overlay .p-dialog .footer {
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    display: flex;
}

.p-overlay .p-dialog .footer .col {
    flex: 1;
}

.p-overlay .p-dialog .footer .col~.col {
    border-left: 1px solid rgb(0, 0, 0, 0.1);
}

.p-overlay .p-dialog .footer .col~.col button {
    border-radius: 0 0 1rem 0;
}

.p-overlay .p-dialog .footer button {
    width: 100%;
    border: none;
    line-height: 2.25rem;
    border-radius: 0 0 1rem 1rem;
}

.p-overlay .p-dialog .footer button.first {
    border-radius: 0 0 0 1rem;
}

.p-overlay .p-dialog .footer button:focus {
    outline: none;
    box-shadow: none !important;
    background-color: rgb(0, 0, 0, 0.05);
}

.p-overlay .p-dialog .footer button .loading {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: -0.125em;
    border: 0.15em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
}

.p-index-nav {
    background-color: rgb(0, 0, 0, 0.05);
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
    position: relative;
}

.p-index-nav::-webkit-scrollbar {
    display: none;
}

.p-index-nav .anchor {
    margin-left: 1rem;
    line-height: 2.25rem;
    font-size: 0.875rem;
}

.p-index-nav ul.list {
    padding: 0 1rem;
    margin: 0;
    list-style: none;
    background-color: #fff;
}

.p-index-nav ul.list li {
    position: relative;
    line-height: 3rem;
}

.p-index-nav ul.list li:not(:last-child):after {
    position: absolute;
    content: " ";
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #e9ecef;
}

.p-index-nav .index {
    position: fixed;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    width: 1.25rem;
    padding: 0;
    margin: 0;
}

.p-index-nav .index li {
    line-height: 1.25rem;
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 0.875rem;
}

.p-index-nav .anchor-fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 2.25rem;
    padding-left: 1rem;
    line-height: 2.25rem;
    font-size: 0.875rem;
    background-color: #fff;
    border-bottom: 1px solid #e9ecef;
    display: none;
}

.p-tab {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
}

.p-tab .nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.p-tab .nav li {
    flex: 1;
    color: rgb(33, 37, 41, 0.5);
    height: 3rem;
    line-height: 3rem;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.p-tab .nav li span {
    padding: 0 0.5rem;
}

.p-tab .nav li.selected {
    color: rgb(33, 37, 41);
}

.p-tab .contents {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.p-tab .contents::-webkit-scrollbar {
    display: none;
}

.p-tab .contents>* {
    display: none;
    margin: 1rem;
}

.p-tab .contents>.selected {
    display: block;
}

.p-tab .underline {
    position: absolute;
    height: 0.2rem;
    border-radius: 0.125rem;
    left: 0;
    width: 80px;
}

.p-navbar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.2);
}

.p-navbar a {
    width: 20%;
    height: 100%;
    line-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 1rem;
    text-decoration: none;
    color: #495057;
}

.p-navbar a i {
    font-size: 1.25rem;
}

.p-navbar a:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem 0 0;
}

.p-navbar.fixed {
    position: fixed;
    z-index: 10;
    top: 0
}

.p-navbar.fixed+* {
    margin-top: 3rem;
}

.p-navbar.fixed+.p-container {
    height: 100% - 3rem;
}

.p-navbar i.bi-list {
    font-size: 1.5rem;
}

.p-tabbar {
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.p-tabbar .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style: none;
    padding: 0.25rem 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    height: 4rem;
    background-color: #fff;
    border-top: 1px solid rgb(0, 0, 0, 0.05);
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);
}

.p-tabbar .nav li {
    flex: 1;
    color: rgb(33, 37, 41, 0.8);
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.p-tabbar .nav li span {
    font-size: 0.875rem;
}

.p-tabbar .nav li i {
    font-size: 1.25rem;
}

.p-tabbar .nav li .badge {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-tabbar .nav li .badge .info {
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: #dc3545;
    color: #fff;
    font-size: 0.825rem;
    position: relative;
    top: -0.25rem;
    transform: translateX(50%);
}

.p-tabbar .nav li .badge .dot {
    padding: 0;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #dc3545;
    position: relative;
    left: 1rem;
    top: 0;
}

.p-tabbar .contents {
    height: calc(100% - 4rem);
    overflow-y: auto;
    scrollbar-width: none;
}

.p-tabbar .contents::-webkit-scrollbar {
    display: none;
}

.p-tabbar .contents>* {
    display: none;
    margin: 1rem;
}

.p-tabbar .contents>.selected {
    display: block;
}

.p-toaster {
    height: 2.5rem;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    transform: translateY(-2.5rem);
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    background-color: #fff;
    color: #fff;
}

.p-toaster>* {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-collapse .item {
    border-top: 1px solid rgb(0, 0, 0, 0.05);
}

.p-collapse .item .title {
    padding: 0 1rem;
    display: flex;
    height: 2.75rem;
    justify-content: space-between;
    align-items: center;
    color: rgb(33, 37, 41, 0.8);
    cursor: pointer;
}

.p-collapse .item .content {
    border-top: 1px solid rgb(0, 0, 0, 0.05);
    padding: 0.5rem 1rem;
    color: rgb(33, 37, 41, 0.6);
    display: none;
}

.p-collapse .item .content.uncollapse {
    display: block;
}

.p-rate {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.p-rate div {
    width: 1.5rem;
    margin-right: 0.25rem;
}

.p-rate div i {
    color: rgb(33, 37, 41, 0.3);
    font-size: 1.5rem;
}

.p-rate div.half {
    width: 0.75rem;
    margin: 0;
}

.p-rate div.fill {
    width: 0.75rem;
    margin-right: 0.25rem;
}

.p-list {
    overflow-y: auto;
    scrollbar-width: 0;
    height: 100%;
    position: relative;
}

.p-list::-webkit-scrollbar {
    display: none;
}

.p-list ul {
    background-color: #fff;
    padding: 0 1rem;
    margin: 0;
    list-style: none;
}

.p-list ul li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
}

.p-list .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
    font-size: 0.875rem;
}

.p-list.scrollable {
    overflow-y: auto;
    scrollbar-width: 0;
}

.p-img-list {
    position: relative;
}

.p-img-list div.col {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-img-list div.col:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.p-slides {
    overflow: hidden;
    width: 100%;
    cursor: grab;
    position: relative;
}

.p-slides .wrapper {
    width: 1600px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    transform: translateX(0);
    transition: all 0.2s;
    align-items: center;
}

.p-slides .wrapper>* {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-slides .indicator {
    width: 100%;
    bottom: 0.5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
}

.p-slides .indicator ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.p-slides .indicator li {
    flex: 1;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 0 0.2rem;
    cursor: pointer;
}

.p-slides .indicator li.selected {
    background-color: #fff
}

.p-slides img {
    pointer-events: none;
}

.p-file-upload {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.p-file-upload .file {
    width: 6rem;
    margin: 0 0.5rem 0.5rem 0;
    background-color: rgb(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.p-file-upload .file:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.p-file-upload input[type='file'] {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.p-file-upload .file>i {
    font-size: 2rem;
    color: rgb(0, 0, 0, 0.2);
}

.p-file-upload .file .uploaded {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.p-file-upload .file .uploaded.image {
    width: 100%;
    height: 100%;
}

.p-file-upload .file .uploaded i {
    font-size: 2rem;
    color: rgb(0, 0, 0, 0.4);
}

.p-file-upload .file .uploaded span {
    font-size: 0.875rem;
    width: 100%;
    padding: 0 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: rgb(0, 0, 0, 0.7);
}

.p-file-upload .file .uploaded img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.p-file-upload .file .remove {
    position: absolute;
    top: -0.5rem;
    right: -0.25rem;
    color: #dc3545;
    background-color: #fff;
    border-radius: 0.5625rem;
    height: 18px;
}

.p-file-upload .file .remove i {
    font-size: 16px;
}

.p-file-upload .file .uploading, .p-file-upload .file .failed {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.p-file-upload .file .uploading .spinner-border {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: -0.125em;
    border: 0.15em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
}

.p-file-upload .file .uploading span, .p-file-upload .file .failed span {
    color: #fff;
    font-size: 0.875rem;
    width: 100%;
    padding: 0 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.p-file-upload .file .failed i {
    color: #fff;
    font-size: 1.25rem;
}

.p-slider {
    transform: translateY(50%);
}

.p-slider .btn {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
    position: relative;
    top: -15px;
}

.p-slider .progress-bar {
    transition: none;
}

.p-preview {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
}

.p-preview>.indicator {
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 100%;
    color: #fff;
    font-size: 0.875rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-top-menu {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    margin-top: 3rem;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    transition: top 0.2s;
    max-height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}

.p-top-menu ul {
    list-style: none;
}

.p-top-menu a {
    text-decoration: none;
    color: #343a40;
    width: 80%;
}

.p-top-menu .menu {
    margin: 0;
    padding: 1rem;
}

.p-top-menu .menu ul {
    display: none;
    margin: 0;
    padding-left: 1.5rem;
}

.p-top-menu .menu .item {
    display: flex;
    line-height: 2rem;
    align-items: center;
}

.p-top-menu .menu .item i {
    margin-right: 0.5rem;
    color: rgb(33, 37, 41, 0.5);
    transition: all 0.2s;
}

.p-top-menu .menu .item i.bi-dash {
    font-size: 1rem;
}

.p-top-menu .menu .item:hover *, .p-top-menu .menu .item.selected * {
    color: #dc3545;
}

.p-sidebar {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 100%;
}

.p-sidebar .header {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 1rem;
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);
}

.p-sidebar .header a.close {
    color: rgb(33, 37, 41, 0.7);
    height: 100%;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-sidebar .body {
    padding: 1rem;
}

.p-sidebar ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.p-sidebar ul.menu li {
    display: flex;
    align-items: center;
    height: 2.25rem;
}

.p-sidebar ul.menu li span {
    width: 0.25rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.p-sidebar ul.menu li a {
    text-decoration: none;
    color: rgb(33, 37, 41, 0.6);
}

.p-sidebar ul.menu li.selected span {
    background-color: #dc3545;
}

.p-sidebar ul.menu li.selected a {
    color: #343a40;
}

.p-sidebar ul.menu li a:hover {
    color: #dc3545;
}

.p-sidebar .footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 0.875rem;
    color: rgb(33, 37, 41, 0.4);
    border-top: 1px solid rgb(0, 0, 0, 0.05);
}

.p-dropdown {
    display: flex;
    align-items: center;
    height: 3rem;
    position: relative;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    z-index: 2;
    margin-bottom: 1rem;
}

.p-dropdown .dropdown {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    color: rgb(33, 37, 41, 0.8);
    cursor: pointer;
}

.p-dropdown .dropdown .select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-dropdown .dropdown .select span {
    margin-right: 0.25rem;
}

.p-dropdown .dropdown .select i {
    font-size: 0.625rem;
    transform: rotate(0);
    transition: all 0.2s;
    height: 1rem;
}

.p-dropdown .dropdown .select.shown {
    color: #dc3545;
}

.p-dropdown .dropdown .select.shown i {
    transform: rotate(-180deg);
    transition: all 0.2s;
}

.p-dropdown .options {
    position: absolute;
    width: 100%;
    top: 3.5rem;
    list-style: none;
    padding: 0 1rem;
    font-size: 0.95rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: none;
}

.p-dropdown .dropdown:first-child .options {
    left: 0;
}

.p-dropdown .dropdown:last-child .options {
    right: 0;
}

.p-dropdown .options li.option {
    display: flex;
    height: 3rem;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    justify-content: space-between;
    cursor: pointer;
}

.p-dropdown .options li.option:last-child {
    border-bottom: none;
}

.p-dropdown .options li.option.selected {
    color: #dc3545;
}

.p-dropdown .options li.option i.bi-check-lg {
    font-size: 1rem;
    display: none;
}

.p-dropdown .options li.option.selected i.bi-check-lg {
    display: block;
}

.p-sharing {
    background-color: #f8f9fa;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px 16px 0 0;
}

.p-sharing>* {
    width: 100%;
}

.p-sharing .body {
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    padding: 1rem 0;
}

.p-sharing .body .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    color: rgb(33, 37, 41, 0.8)
}

.p-sharing .body .list {
    margin-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    scrollbar-width: 0;
}

.p-sharing .body .list::-webkit-scrollbar {
    display: none;
}

.p-sharing .body .list .item {
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    cursor: pointer;
}

.p-sharing .body .list .item .icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-sharing .body .list .item .icon i {
    font-size: 3rem;
}

.p-sharing .body .list .item span {
    margin-top: 0.5rem;
    color: rgb(33, 37, 41, 0.5);
    font-size: 0.875rem;
}

.p-sharing>.footer {
    background-color: #fff;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    color: rgb(33, 37, 41, 0.8);
    cursor: pointer;
}

.p-steps {
    background-color: #fff;
}

.p-steps .steps {
    display: flex;
    flex-wrap: nowrap;
    height: 3rem;
    align-items: center;
}

.p-steps .steps .step {
    flex: 1;
    display: flex;
    justify-content: space-around;
    color: #198754;
}

.p-steps .steps .step.current {
    color: #dc3545;
}

.p-steps .steps .step.current i.bi-check2 {
    display: none;
}

.p-steps .steps .step.current~.step {
    color: rgb(33, 37, 41, 0.5);
}

.p-steps .steps .step.current~.step i.bi-check2 {
    display: none;
}

.p-pagination .pagination {
    margin: 0;
}

.p-pagination .page-item {
    width: 2rem;
}

.p-pagination .page-item a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-chat {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.02);
}

.p-chat .messages {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.5rem;
    height: calc(100% - 4.25rem);
}

.p-chat.media .messages {
    height: calc(100% - 24.25rem);
}

.p-chat .messages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.p-chat .messages ul li {
    overflow: hidden;
    width: 100%;
    margin-bottom: 1rem;
}

.p-chat .messages ul li.left>* {
    float: left;
}

.p-chat .messages ul li.right>* {
    float: right;
}

.p-chat .messages ul li .user {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

.p-chat .messages ul li .user i {
    color: #fff;
    font-size: 1.5rem;
}

.p-chat .messages ul li .user img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
}

.p-chat .messages ul li .detail {
    max-width: calc(100% - 6.5rem);
    margin: 0 0.625rem;
}

.p-chat .messages ul li .detail .wrapper {
    display: flex;
}

.p-chat .messages ul li.left .detail .wrapper {
    display: flex;
    justify-content: start;
}

.p-chat .messages ul li.right .detail .wrapper {
    display: flex;
    justify-content: end;
}

.p-chat .messages ul li .detail>.name {
    color: rgb(0, 0, 0, 0.6);
    font-size: 0.8rem;
    position: relative;
    height: 1.1rem;
    top: -3px;
}

.p-chat .messages ul li .detail>.file {
    display: flex;
    height: 2rem;
    align-items: center;
}

.p-chat .messages ul li .detail>.file a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    text-align: right;
}

.p-chat .messages ul li.left .detail>.file {
    justify-content: start;
}

.p-chat .messages ul li.right .detail>.file {
    justify-content: end;
}

.p-chat .messages ul li.right .detail>.name {
    width: 100%;
    text-align: right;
}

.p-chat .messages ul li .output {
    background-color: #fff;
    padding: 0.5rem 0.625rem;
    border-radius: 0.25rem;
    position: relative;
}

.p-chat .messages ul li.right .output {
    background-color: rgb(255, 193, 7);
}

.p-chat .messages ul li .output>i {
    position: absolute;
}

.p-chat .messages ul li.left .output>i {
    color: #fff;
    left: -0.5rem
}

.p-chat .messages ul li.right .output>i {
    color: #fff;
    right: -0.5rem;
    transform: rotate(180deg);
    color: rgb(255, 193, 7);
}

.p-chat .messages .sentAt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    font-size: 0.8rem;
    color: rgb(0, 0, 0, 0.5);
}

.p-chat .messages ul li .detail.media {
    width: calc(100% - 6.5rem);
}

.p-chat .messages ul li .detail.media .output {
    width: 100%;
    background-color: #fff;
    padding: 0.75rem;
    cursor: pointer;
}

.p-chat .messages ul li .detail.media .output>i {
    color: #fff;
}

.p-chat .messages ul li .detail.media .output .file {
    display: flex;
}

.p-chat .messages ul li .detail.media .output .file .content {
    width: calc(100% - 3rem);
}

.p-chat .messages ul li .detail.media .output .file .content .name {
    display: flex;
    max-height: 4rem;
    flex-wrap: wrap;
}

.p-chat .messages ul li .detail.media .output .file .content .description {
    display: flex;
    height: 1.5rem;
    align-items: flex-end;
    font-size: 0.875rem;
    color: rgb(0, 0, 0, 0.5);
}

.p-chat .messages ul li .detail.media .output .file {
    text-decoration: none;
    color: rgb(33, 37, 41);
}

.p-chat .messages ul li .detail.media .output .file i {
    font-size: 2rem;
    color: rgb(0, 0, 0, 0.5);
}

.p-chat .messages ul li .detail.media .output .file i.bi-file-earmark-excel {
    color: #198754;
}

.p-chat .messages ul li .detail.media .output .file i.bi-file-earmark-word {
    color: #0d6efd;
}

.p-chat .messages ul li .detail.media .output .file i.bi-file-earmark-pdf {
    color: #dc3545;
}

.p-chat .messages ul li .detail.media .output .file i.bi-file-earmark-ppt {
    color: #dc3545;
}

.p-chat .messages ul li .detail.media .output .file i.bi-file-earmark-code {
    color: #198754;
}

.p-chat .messages ul li .detail.media .output .file i.bi-camera-video {
    color: #ffc107;
}

.p-chat .messages ul li .detail.media .output .file i.bi-optical-audio {
    color: #ffc107;
}

.p-chat .messages ul li .detail.image {
    width: 11rem;
}

.p-chat .messages ul li .detail.image .output {
    padding: 0;
}

.p-chat .messages ul li .detail.image .output .image {
    width: 100%;
}

.p-chat .messages ul li .detail.image .output .image img {
    width: 100%;
    max-height: 8rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.p-chat .input {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.25rem;
    background-color: rgb(248, 249, 250);
}

.p-chat.media .input {
    position: static;
}

.p-chat .input .text {
    height: 3.25rem;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(0, 0, 0, 0.05);
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);
    margin-bottom: 1rem;
}

.p-chat .input .text input.message {
    width: calc(100% - 8rem);
    border: none;
    height: 2.25rem;
    margin: 0 1rem;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
}

.p-chat .input .text input.message:focus {
    outline: 0;
}

.p-chat .input .text .op {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}

.p-chat .input .op button {
    width: 3.5rem;
    height: 2.15rem;
    margin-right: 0.5rem;
}

.p-chat .input .op a {
    color: #495057;
    font-size: 1.5rem;
}

.p-chat .input .medias {
    display: none;
    padding: 1rem;
    height: 20rem;
    background-color: rgb(248, 249, 250);
}

.p-chat.media .input .medias {
    display: block;
}

.p-chat .input .medias .p-slides {
    height: 100%;
}

.p-chat .input .medias .p-slides .wrapper>div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.p-chat .input .medias .p-slides .wrapper>div table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1.5rem;
}

.p-chat .input .medias .p-slides .wrapper>div table .item {
    margin: 0 auto;
    width: 3.75rem;
    height: 3.75rem;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-chat .input .medias .p-slides .wrapper>div table .item.dummy {
    background-color: rgb(248, 249, 250, 0.1);
}

.p-chat .input .medias .p-slides .wrapper>div .item>i {
    font-size: 1.5rem;
    color: rgb(0, 0, 0, 0.5);
}

.p-chat .input .medias .p-slides .indicator li {
    background-color: rgb(0, 0, 0, 0.1);
}

.p-chat .input .medias .p-slides .indicator li.selected {
    background-color: rgb(0, 0, 0, 0.5);
}

.p-chat .input .medias .p-slides .p-file-upload .file {
    background-color: #fff;
    margin: 0;
    border-radius: 1rem;
    width: 3.75rem!important;
    height: 3.75rem;
}

.p-chat .input .medias .p-slides .p-file-upload .file>i {
    font-size: 1.5rem;
    color: rgb(0, 0, 0, 0.5);
}

.p-chat .input .medias .p-slides .p-file-upload .file .uploaded {
    border-radius: 1rem;
}

.p-multiselect {
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.p-multiselect>.toolbar {
    display: flex;
    justify-content: space-between;
}

.p-multiselect>.toolbar * {
    display: inline-block;
    line-height: 2rem;
    height: 2rem;
}

.p-multiselect>.toolbar a {
    text-decoration: none;
}

.p-multiselect>.toolbar .title {
    text-align: center;
}

.p-multiselect .wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: grab;
    scrollbar-width: 0;
}

.p-multiselect .wrapper::-webkit-scrollbar {
    display: none;
}

.p-multiselect .wrapper .items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.p-multiselect .wrapper .items li {
    height: 2.75rem;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-multiselect .wrapper .items li i {
    width: 15%;
    text-align: right;
    font-size: 1.25rem;
}

.p-multiselect .wrapper .items li .text {
    width: 70%;
    text-align: center;
    white-space: nowrap;
    padding: 0 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
